.question {
    margin-top: 0px;
    padding: 0;
    color: #1F254D;
    font-weight: 700;
    font-family: 'Caveat Brush', cursive;
    text-align: center;
}
.question h2 {
    font-size: 50px;
}
.answer {
    padding: 40px;
    margin-left: 5%;
    margin-right: 5%;
    border: 5px solid #218F94;
    border-radius: 30px;
    background-color: #40B8BC;
    margin-bottom: 5%;
}
.answer p {
    color: white;
    font-family: 'Caveat Brush', cursive;
    text-shadow: 2px 2px #1F254D;
    text-align: center;
    font-size: 40px;
}
@media screen and (max-width: 600px) {
    .answer p {
        text-shadow: 2px 2px #1F254D;
    }
    .row {
        display: block;
    }
    .column {
        flex: 100%;
    }
}