.question {
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0;
    color: #1F254D;
    font-weight: 700;
    text-align: center;
}
.question h2 {
    font-size: 50px;
}
.answer {
    padding: 40px;
    margin-left: 5%;
    margin-right: 5%;
    border: 5px solid #218F94;
    color: #F3B82E;
    border-radius: 30px;
    background-color: #40B8BC;
}
.answer p {
    font-size: 25px;
}