.hero {
    margin:0;
    padding: 10px;
    height: auto;
    display:flex;
    align-items: center;
    background-color: #f3B82e ;
    overflow: hidden;
    border-bottom: 5px solid #40B8BC;
}
.hero::before {
    content:'';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.hero .hero-image img {
    width:50%;
    transform: translateX(50%);
}
.hero .hero-inner {
    float: left;
    font-size: 200%;
    padding-left: 0%;
    text-align: center;
    color: white;
    font-family: 'Caveat Brush', cursive;
    text-shadow: 3px 3px #1F254D;
}
@media screen and (max-width: 600px) {
    .hero .hero-inner {
        font-size: 15px;
        text-shadow: 1px 1px #1F254D;
    }
    .hero .hero-image img {
        width:100%;
        transform: translateX(0);
    }
}
.columnLogo {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}