body{
    margin:0;
    background-color: #FFFAEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
    display: flex;
    margin: 10%;
}
.column {
    flex: 33%;
    margin:0;
}
.column img {
    width: 100%;
}