body{
    margin:0;
    background-color: #FFFAEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #40B8BC;
    text-decoration: none;
    font-weight: bold;
}
p {
    color: #1F254D;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    font-size: 30px;
}
.pageTitle {
    border: 5px solid #f3B82e;
    margin-bottom: 2%;
    padding: 0;
    background-color: #f3B82e;
    font-family: 'Caveat Brush', cursive;
    border-bottom: 5px solid #40B8BC;
}
.pageTitle h1 {
    color: white;
    font-family: 'Caveat Brush', cursive;
    text-shadow: 3px 3px #1F254D;
    text-align: center;
    font-size: 50px;
}
.row {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 0;
}
.column {
    flex: 33%;
    margin: 10px;
}
.column img {
    width: 100%
}

@media screen and (max-width: 600px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .pageTitle h1 {
        text-shadow: 2px 2px #1F254D;
    }
}